.qv-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.qv-modal-content {
    background-color: #fff;
    padding: 36px 36px 20px 36px;
    border-radius: 0.3em;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.qv-card-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 3px;
    margin-bottom: 10px;
}

.qv-close-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
}

.qv-close-btn:hover {
    color: #228361;
}

.qv-card-details h2 {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: bold;
    background-color: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
    color: #ffffff;
    padding: 3px;
}

.qv-card-details span {
    display: block;
    margin-bottom: 10px;
}

.qv-discounted-price {
    text-decoration: underline;
    font-weight: bold;
}

.qv-discount {
    color: #289d72;
    font-weight: bold;
    font-size: 18px;
}

.qv-price {
    text-decoration: line-through;
    color: #8c8b8b;
}

.notification {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #228361;
    color: #ffffff;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 0.3em;
    z-index: 3;
}

.basket-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.basket-modal-content {
    position: absolute;
    top: 40px;
    right: 64px;
    padding: 38px;
    width: 400px;
    min-height: 550px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    border-radius: 0.3em;
    background-color: #ffffffff;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.close-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
}

.close-btn:hover {
    color: #228361;
}

.basket-modal-content h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
    color: #ffffff;
    padding: 8px;
    border-radius: 0.3em;
}

.empty-basket-text {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.basket-list-wrapper {
    flex-grow: 1;
    margin: 0;
}

.basket-items-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.4em;
}

.basket-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-item-name {
    flex-basis: 35%;
}

.basket-item-price {
    flex-basis: 35%;
    text-align: end;
    padding-right: 16px;
}

.basket-footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-content: flex-end;
}

.total-price {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 16px;
    border-radius: 0.3em;
    border: 1px solid #289d72;
}

.basket-modal-content button {
    padding: 8px 16px;
    cursor: pointer;
    background: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
    border: none;
    border-radius: 0.3em;
    color: #fff;
    transition: 0.2s ease-out;
}

.basket-modal-content button:hover {
    background-color: #228361;
}

.clear-basket-btn {
    margin-top: 10px;
    width: 100%;
}

.login-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
}

.login-modal-content {
    background-color: #fff;
    padding: 26px;
    border-radius: 0.3em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

input[type="email"],
input[type="password"]  {
    background: #ececf3;
    box-shadow: 0 1px 3px rgba(238, 238, 238, 0.7);
    border: none;
    border-radius: 0.3em;
    margin-bottom: 20px;
    padding: 12px;
}

.login-close-btn {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
}

.login-close-btn:hover {
    color: #228361;
}

.login-button {
    padding: 12px;
    cursor: pointer;
    background: #289d72;
    box-shadow: 0 0 2px rgba(49, 196, 141, 0.2);
    border: none;
    border-radius: 0.3em;
    color: #fff;
    transition: 0.2s ease-out;
}

.login-button:hover {
    background-color: #228361;
}
