#header {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
img {
    width: 20px;
    height: 20px;
}

.header_logo {
    width: 200px;
    height: 100px;
}

select {
    border: none;
}
